* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100vw;
    height: 80px;
    background-color: rgb(17, 18, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

header h2 {
    color: rgb(103, 210, 93);

}

main {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: rgb(31, 36, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.song-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-image: url("image1.jpg");
    background-size: cover;
    box-shadow: inset 2px 2px 10px black, -2px -2px 10px black ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.volume-img {
    height: 50px;
    width: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(93, 92, 92, 0.8),
     -2px -2px 10px rgb(0, 0, 0, 0.8), 
     -2px -2px 10px rgb(0, 0, 0, 0.8),
      2px 2px 10px rgb(0, 0, 0, 0.8);
}

#volume-range {
    -webkit-appearance: none;
    width: 40%;
    height: 5px;
    background: linear-gradient(to right, rgb(91, 220, 183),
            rgb(0, 229, 255));
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(101, 97, 97), -2px -2px 10px black;
}

#volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a547b6;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(101, 97, 97), -2px -2px 10px black;
}

#volume-range::-webkit-slider-thumb:hover{
    transform: scale(120%);

}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.details{
    width:  80%;
    height: 100px;
    background: transparent;
    box-shadow: 2px 2px 10px rgb(48, 47, 47),
    -2px -2px 10px rgb(0, 0, 0), 
    -2px -2px 10px rgb(0, 0, 0),
     2px 2px 10px rgb(0, 0, 0);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
     border-radius: 20px;
}
#song-name{
    font-size: 30px;
    color: rgb(25, 145, 119);
}
#song-singer{
    font-size: 15px;
    color: rgb(150, 161, 159);
}

#song-duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a547b6;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(101, 97, 97), -2px -2px 10px black;
}

#song-duration::-webkit-slider-thumb:hover{
    transform: scale(120%);
    box-shadow: 2px 2px 10px rgb(101, 97, 97), -2px -2px 10px black;

}

#song-duration {
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    background: linear-gradient(to right, rgb(91, 220, 183),
            rgb(0, 229, 255));
    border-radius: 10px;
    cursor: pointer;
}

.controls{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.prev-img, .play-pause, .next-img{
    height: 50px;
    width: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(93, 92, 92, 0.8),
     -2px -2px 10px rgb(0, 0, 0, 0.8), 
     -2px -2px 10px rgb(0, 0, 0, 0.8),
      2px 2px 10px rgb(0, 0, 0, 0.8);
}
.prev-img:hover, .play-pause:hover, .next-img:hover{
    box-shadow:inset 2px 2px 10px rgb(93, 92, 92, 0.8), inset
     -2px -2px 10px rgb(0, 0, 0, 0.8), inset
     -2px -2px 10px rgb(0, 0, 0, 0.8), inset
      -2px -2px 10px rgb(0, 0, 0, 0.8);
      transform: scale(80%) ;
}

#musicanim{
position: absolute;
width: 100px;
filter: drop-shadow(2px 4px 10px rgb(34, 163, 163));
display: none;
}

.playlist{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: rgba(14, 15, 15, 0.429);
    left:0;
    backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
    box-shadow:2px 2px 10px rgb(1, 1, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playlist-active{
    transform: translateX(0%);
}

.playlist-song{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(58, 61, 63, 0.568);
    gap: 10px;
    cursor: pointer;
}
.playlist-song:hover{
    background-color: rgba(7, 62, 111, 0.174);

}

.playlist-song img{
    width: 100px;
    border-radius: 0px 20px 20px 0px;
    box-shadow:2px 2px 10px rgb(1, 1, 1);
}

.playlist-song h2{
    color: rgba(71, 194, 175, 0.704);
}
.playlist-song h5{
    color: rgba(240, 248, 255, 0.566);
}

.song-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

}

#playlist-img{
    cursor: pointer;
}

@media (max-width:900px){
    main{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
    }
    .song-image{
        width: 60vw;
        height: 60vw;
        margin-top: 20px;
    }
    .playlist{
        width: 100%;
    }
}





